In [1]:
import pandas as pd
import glob
import re

In [18]:
ruta_archivo = r'C:\Users\julio\Desktop\The_Bridge\Temario\EDA\Dataset\Banco_de_Espanya\Ocupacion_por_sector\ocup_ramas_clean.xlsx'

# Cargar el archivo en un DataFrame saltando las primeras 5 filas
df = pd.read_excel(ruta_archivo)

df

,DESCRIPCIÓN DE LA SERIE,total_ocupados (miles),i_agricultura,%agr,i_industria,%ind,ii_Industrias extractivas,ii_Industria manufacturera,"iii_Alimentos, bebida y tabaco","iii_Textil, cuero, calzado, madera, papel y artes gráficas","iii_Refino, química, metalurgia, productos de caucho y plástico","iii_Maquinaria, óptica, informática, electrónica y vehículos","ii_Energía electrica, gas, vapor, aire acondicionado, agua, saneamientos y residuos",i_Construcción,%cons,i_Servicios,%serv
0,MAR 2002,16482.3,-,NaN,-,NaN,-,-,-,-,-,-,-,-,NaN,-,NaN
1,JUN 2002,16766.9,-,NaN,-,NaN,-,-,-,-,-,-,-,-,NaN,-,NaN
2,SEP 2002,16919.3,-,NaN,-,NaN,-,-,-,-,-,-,-,-,NaN,-,NaN
3,DIC 2002,16991.9,-,NaN,-,NaN,-,-,-,-,-,-,-,-,NaN,-,NaN
4,MAR 2003,17092.7,-,NaN,-,NaN,-,-,-,-,-,-,-,-,NaN,-,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,DIC 2021,20184.9,840.1,0.041620,2765.2,0.136993,30.4,2489.3,517.3,346.6,542.6,1082.7,245.4,1285.9,0.063706,15293.7,0.757680
80,MAR 2022,20084.7,827.7,0.041210,2697.1,0.134286,27.8,2423.7,506.9,344.3,527.6,1045,245.6,1316.3,0.065537,15243.6,0.758966
81,JUN 2022,20468.0,789.3,0.038563,2776.6,0.135656,29.1,2503.6,534.9,359.5,556.5,1052.9,243.9,1338.2,0.065380,15563.9,0.760402
82,SEP 2022,20545.7,729,0.035482,2809.8,0.136759,29.7,2548.2,536.6,352.2,561.8,1097.7,231.8,1328.8,0.064675,15678.2,0.763089
83,DIC 2022,20463.9,753.2,0.036806,2801.8,0.136914,29.6,2544.6,558.4,346.7,559.9,1079.6,227.5,1300.8,0.063566,15608,0.762709

In [19]:
# Diccionario para mapear las abreviaturas de los meses a sus equivalentes en inglés
meses = {
    'ENE': 'Jan',
    'FEB': 'Feb',
    'MAR': 'Mar',
    'ABR': 'Apr',
    'MAY': 'May',
    'JUN': 'Jun',
    'JUL': 'Jul',
    'AGO': 'Aug',
    'SEP': 'Sep',
    'OCT': 'Oct',
    'NOV': 'Nov',
    'DIC': 'Dec'
}

# Reemplazar las abreviaturas de los meses con sus equivalentes en inglés
for mes_abrev, mes_ingles in meses.items():
    df['DESCRIPCIÓN DE LA SERIE'] = df['DESCRIPCIÓN DE LA SERIE'].str.replace(mes_abrev, mes_ingles)

# Convertir a formato de fecha
df['DESCRIPCIÓN DE LA SERIE'] = pd.to_datetime(df['DESCRIPCIÓN DE LA SERIE'], format='%b %Y')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 17 columns):
 #   Column                                                                               Non-Null Count  Dtype
---  ------                                                                               --------------  -----
 0   DESCRIPCIÓN DE LA SERIE                                                              84 non-null     datetime64[ns]
 1   total_ocupados (miles)                                                               84 non-null     float64
 2   i_agricultura                                                                        84 non-null     object
 3   %agr                                                                                 60 non-null     float64
 4   i_industria                                                                          84 non-null     object
 5   %ind                                                                                 60 non-null     float64
 6   ii_Industrias extractivas                                                            84 non-null     object
 7   ii_Industria manufacturera                                                           84 non-null     object
 8   iii_Alimentos, bebida y tabaco                                                       84 non-null     object
 9   iii_Textil, cuero, calzado, madera, papel y artes gráficas                           84 non-null     object
 10  iii_Refino, química, metalurgia, productos de caucho y plástico                      84 non-null     object
 11  iii_Maquinaria, óptica, informática, electrónica y vehículos                         84 non-null     object
 12  ii_Energía electrica, gas, vapor, aire acondicionado, agua, saneamientos y residuos  84 non-null     object
 13  i_Construcción                                                                       84 non-null     object
 14  %cons                                                                                60 non-null     float64
 15  i_Servicios                                                                          84 non-null     object
 16  %serv                                                                                60 non-null     float64
dtypes: datetime64[ns](1), float64(5), object(11)
memory usage: 11.3+ KB

In [20]:
# DF CON LOS OCUPADOS TRIMESTRALMENTE
df_total_ocupados = df[['DESCRIPCIÓN DE LA SERIE', 'total_ocupados (miles)']]
df_total_ocupados

   DESCRIPCIÓN DE LA SERIE  total_ocupados (miles)
0               2002-03-01                 16482.3
1               2002-06-01                 16766.9
2               2002-09-01                 16919.3
3               2002-12-01                 16991.9
4               2003-03-01                 17092.7
..                     ...                     ...
79              2021-12-01                 20184.9
80              2022-03-01                 20084.7
81              2022-06-01                 20468.0
82              2022-09-01                 20545.7
83              2022-12-01                 20463.9

[84 rows x 2 columns]

In [21]:
# Calcular el promedio trimestral de total_ocupados
promedio_trimestral = df_total_ocupados.resample('Q', on='DESCRIPCIÓN DE LA SERIE').mean()

# Agrupar por año y obtener los valores promedio anuales de ocupados
promedio_anual = promedio_trimestral.resample('Y').mean()

# Redefinir el índice del nuevo DataFrame
promedio_anual.reset_index(inplace=True)

promedio_anual['year'] = promedio_anual['DESCRIPCIÓN DE LA SERIE'].dt.year

# Cambiar el nombre de la columna 'total_ocupados' a 'promedio_ocupados'
promedio_anual.rename(columns={'total_ocupados (miles)': 'promedio_ocupados'}, inplace=True)

# Eliminar la columna 'DESCRIPCIÓN DE LA SERIE' si no se necesita más
promedio_anual.drop(columns='DESCRIPCIÓN DE LA SERIE', inplace=True)

promedio_anual

    promedio_ocupados  year
0           16790.100  2002
1           17475.600  2003
2           18142.250  2004
3           19207.000  2005
4           19939.100  2006
5           20579.925  2007
6           20469.650  2008
7           19106.850  2009
8           18724.475  2010
9           18421.425  2011
10          17632.675  2012
11          17139.000  2013
12          17344.175  2014
13          17866.050  2015
14          18341.550  2016
15          18824.800  2017
16          19327.725  2018
17          19779.300  2019
18          19202.425  2020
19          19773.600  2021
20          20390.575  2022

In [23]:
# DF CON LOS OCUPADOS TRIMESTRALMENTE POR SECTOR

df_sector_tri = df.iloc[:, [0, 2, 3, 4, 5, 13, 14, 15, 16]]
df_sector_tri = df_sector_tri.dropna()

df_sector_tri

,DESCRIPCIÓN DE LA SERIE,i_agricultura,%agr,i_industria,%ind,i_Construcción,%cons,i_Servicios,%serv
24,2008-03-01,870.1,0.042197,3352.8,0.162599,2679.5,0.129947,13717.6,0.665257
25,2008-06-01,830.6,0.040229,3284.3,0.159070,2559.4,0.123960,13972.6,0.676741
26,2008-09-01,798.8,0.038859,3231.1,0.157182,2418,0.117628,14108.6,0.686336
27,2008-12-01,813.2,0.040548,3078.5,0.153501,2182.6,0.108829,13981,0.697122
28,2009-03-01,842.5,0.043688,2930.6,0.151967,1977.6,0.102549,13533.8,0.701800
29,2009-06-01,790.8,0.041286,2829.1,0.147701,1927.8,0.100646,13606.6,0.710372
30,2009-09-01,740.6,0.038778,2752,0.144096,1850.7,0.096903,13755.1,0.720223
31,2009-12-01,778.6,0.041217,2718.6,0.143914,1803.1,0.095451,13590.2,0.719424
32,2010-03-01,827.7,0.044374,2637.9,0.141420,1668.2,0.089434,13519.1,0.724772
33,2010-06-01,772.8,0.041214,2656.7,0.141682,1698.1,0.090560,13623.5,0.726544
34,2010-09-01,747.8,0.039736,2645.3,0.140565,1666.8,0.088570,13759.1,0.731128
35,2010-12-01,796,0.042624,2661.9,0.142539,1572.3,0.084193,13644.7,0.730644
36,2011-03-01,778,0.042222,2578.8,0.139953,1499.4,0.081373,13569.9,0.736446
37,2011-06-01,735.9,0.039518,2622.9,0.140850,1441,0.077382,13822.2,0.742251
38,2011-09-01,704.8,0.038129,2632.4,0.142411,1384.8,0.074917,13762.6,0.744548
39,2011-12-01,802.3,0.044197,2584.7,0.142384,1290.4,0.071085,13475.6,0.742335
40,2012-03-01,763,0.042949,2509.7,0.141271,1200.8,0.067593,13291.5,0.748180
41,2012-06-01,722.3,0.040673,2489.6,0.140192,1204.5,0.067827,13342,0.751302
42,2012-09-01,714.2,0.040424,2496.7,0.141314,1149.9,0.065085,13306.9,0.753177
43,2012-12-01,774,0.044638,2438.8,0.140651,1090.1,0.062868,13036.4,0.751837
44,2013-03-01,716.5,0.042072,2378.5,0.139664,1065.2,0.062548,12870,0.755716
45,2013-06-01,753.1,0.043885,2357.7,0.137390,1034.2,0.060266,13015.6,0.758458
46,2013-09-01,699.4,0.040592,2345.1,0.136106,1028.1,0.059669,13157.5,0.763639
47,2013-12-01,777.3,0.045363,2340.8,0.136608,990.4,0.057799,13026.8,0.760236
48,2014-03-01,809.1,0.047733,2298.6,0.135606,942.1,0.055579,12900.8,0.761082
49,2014-06-01,739.3,0.042604,2355.3,0.135729,979,0.056417,13279.4,0.765251
50,2014-09-01,666.1,0.038054,2427.1,0.138660,1022.5,0.058415,13388.2,0.764865
51,2014-12-01,728.9,0.041488,2438.8,0.138812,1030.4,0.058648,13371,0.761052
52,2015-03-01,717.4,0.041100,2441.1,0.139853,1060.6,0.060763,13235.7,0.758284
53,2015-06-01,740.4,0.041441,2505.9,0.140257,1092.9,0.061170,13527.4,0.757138
54,2015-09-01,709.5,0.039310,2518.9,0.139561,1082.6,0.059982,13737.6,0.761141
55,2015-12-01,779.7,0.043091,2463.4,0.136143,1058.5,0.058499,13792.5,0.762261
56,2016-03-01,777.4,0.043118,2481.4,0.137629,1031.7,0.057223,13739.2,0.762036
57,2016-06-01,760.2,0.041539,2497.1,0.136446,1077.2,0.058860,13966.5,0.763155
58,2016-09-01,743.8,0.040146,2531.3,0.136624,1107.2,0.059760,14145.2,0.763471
59,2016-12-01,816.7,0.044127,2579.1,0.139350,1079.3,0.058315,14032.9,0.758203
60,2017-03-01,847.7,0.045975,2570.9,0.139433,1081.4,0.058650,13938.2,0.755937
61,2017-06-01,832.6,0.044256,2636.6,0.140146,1133.6,0.060255,14210.6,0.755349
62,2017-09-01,777,0.040789,2670.7,0.140200,1154.6,0.060611,14446.9,0.758399
63,2017-12-01,820.7,0.043198,2711.3,0.142712,1143.7,0.060200,14322.7,0.753890
64,2018-03-01,833.8,0.044177,2676.4,0.141802,1151.9,0.061030,14212.2,0.752996
65,2018-06-01,822.5,0.042519,2722.8,0.140756,1215.2,0.062820,14583.6,0.753904
66,2018-09-01,768.4,0.039349,2725.7,0.139579,1240.2,0.063509,14793.8,0.757569
67,2018-12-01,825.6,0.042199,2708.3,0.138429,1279.9,0.065419,14750.8,0.753954
68,2019-03-01,839.7,0.043125,2708.5,0.139104,1281.4,0.065810,14641.6,0.751966
69,2019-06-01,809.3,0.040864,2764.5,0.139587,1276.4,0.064449,14954.7,0.755101
70,2019-09-01,746.2,0.037546,2815.8,0.141680,1269.9,0.063897,15042.4,0.756877
71,2019-12-01,793.9,0.039761,2763.7,0.138414,1283.9,0.064301,15125.4,0.757524
72,2020-03-01,784.8,0.039875,2769.3,0.140707,1277.8,0.064925,14849.4,0.754493
73,2020-06-01,763.4,0.041027,2642.3,0.142004,1169,0.062825,14032.5,0.754144
74,2020-09-01,731.1,0.038124,2687.7,0.140153,1249.3,0.065146,14508.8,0.756577
75,2020-12-01,782.1,0.040431,2693.6,0.139245,1280.2,0.066180,14588.3,0.754139
76,2021-03-01,797.9,0.041543,2642.2,0.137566,1261.8,0.065695,14504.9,0.755196
77,2021-06-01,811.1,0.041232,2665.1,0.135479,1324.8,0.067345,14870.6,0.755939
78,2021-09-01,761.5,0.038016,2728.1,0.136194,1293.6,0.064580,15247.8,0.761210
79,2021-12-01,840.1,0.041620,2765.2,0.136993,1285.9,0.063706,15293.7,0.757680
80,2022-03-01,827.7,0.041210,2697.1,0.134286,1316.3,0.065537,15243.6,0.758966
81,2022-06-01,789.3,0.038563,2776.6,0.135656,1338.2,0.065380,15563.9,0.760402
82,2022-09-01,729,0.035482,2809.8,0.136759,1328.8,0.064675,15678.2,0.763089
83,2022-12-01,753.2,0.036806,2801.8,0.136914,1300.8,0.063566,15608,0.762709

In [24]:
# Calcular el promedio trimestral de total_ocupados
sector_trimestral = df_sector_tri.resample('Q', on='DESCRIPCIÓN DE LA SERIE').mean()

# Agrupar por año y obtener los valores promedio anuales de ocupados
sector_anual = sector_trimestral.resample('Y').mean()

# Redefinir el índice del nuevo DataFrame
sector_anual.reset_index(inplace=True)

sector_anual['year'] = sector_anual['DESCRIPCIÓN DE LA SERIE'].dt.year

# Cambiar el nombre de la columna 'total_ocupados' a 'promedio_ocupados'
sector_anual.rename(columns={'total_ocupados (miles)': 'promedio_ocupados'}, inplace=True)

# Eliminar la columna 'DESCRIPCIÓN DE LA SERIE' si no se necesita más
sector_anual.drop(columns='DESCRIPCIÓN DE LA SERIE', inplace=True)

sector_anual

,i_agricultura,%agr,i_industria,%ind,i_Construcción,%cons,i_Servicios,%serv,year
0,828.175,0.040458,3236.675,0.158088,2459.875,0.120091,13944.95,0.681364,2008
1,788.125,0.041242,2807.575,0.146920,1889.8,0.098887,13621.425,0.712955,2009
2,786.075,0.041987,2650.45,0.141552,1651.35,0.088189,13636.6,0.728272,2010
3,755.25,0.041017,2604.7,0.141399,1403.9,0.076189,13657.575,0.741395,2011
4,743.375,0.042171,2483.7,0.140857,1161.325,0.065843,13244.2,0.751124,2012
5,736.575,0.042978,2355.525,0.137442,1029.475,0.060070,13017.475,0.759512,2013
6,735.85,0.042470,2379.95,0.137202,993.5,0.057265,13234.85,0.763063,2014
7,736.75,0.041236,2482.325,0.138953,1073.65,0.060104,13573.3,0.759706,2015
8,774.525,0.042232,2522.225,0.137512,1073.85,0.058539,13970.95,0.761716,2016
9,819.5,0.043555,2647.375,0.140623,1128.325,0.059929,14229.6,0.755894,2017
10,812.575,0.042061,2708.3,0.140141,1221.8,0.063195,14585.1,0.754606,2018
11,797.275,0.040324,2763.125,0.139696,1277.9,0.064614,14941.025,0.755367,2019
12,765.35,0.039864,2698.225,0.140527,1244.075,0.064769,14494.75,0.754838,2020
13,802.65,0.040603,2700.15,0.136558,1291.525,0.065332,14979.25,0.757506,2021
14,774.8,0.038015,2771.325,0.135904,1321.025,0.064790,15523.425,0.761291,2022